# Temporary directories.
/temp/*
/.vs/*

# Solution temp files
*.db
*.opendb
*.user
*.bak
*.rdb

# Log files
*.log

# Build temp files
*.ilk
*.exp
*.iobj
*.ipdb
*.Debug
*.Release

/bin/WIN64/Makefile
/bin/WIN64/ui_mainwindow.h

/bin/WIN64/debug/*.lib
/bin/WIN64/debug/*.pdb
/bin/WIN64/release/*.lib
/bin/WIN64/release/*.pdb