# Temporary directories.
/temp/*
/.vs/*
/build/*

# 3rd projects
/3rd/cpp_redis/*
/3rd/cutelogger/*
/3rd/mysql/*
/3rd/openssl/*
/3rd/qt/*
/3rd/tacopie/*

# Solution temp files
*.db
*.opendb
*.user
*.bak
*.rdb

# Log files
*.log

# Build temp files
*.ilk
*.exp
*.iobj
*.ipdb
*.Debug
*.Release

/bin/WIN64/Makefile
/bin/WIN64/ui_mainwindow.h

/bin/WIN64/debug/*.lib
/bin/WIN64/debug/*.pdb
/bin/WIN64/release/*.lib
/bin/WIN64/release/*.pdb